html, body {
    font-family: Arial, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
}
table.border td, table.border th {
    padding: 5px;
    border: 1px solid #c0c0c0;
}
table.border th {
    background: #e0e0e0;
}